.btn{
    padding: 5px 10px;
}

:host ::ng-deep .datatable-header-cell {

    // border: 1px solid black;
    padding: 5px !important;
    font-size: 13px !important;
  }

//   :host ::ng-deep .datatable-body-cell {

//     border: 1px solid black;
//   }

//   .btn{
//     background-color: #fff;
//     border: 1px solid black;
//     color: black;
// }